n8n/workflows/01_daily_paper_alert.json
{
  "name": "01 — Daily Paper Alert",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "cronExpression", "expression": "0 8 * * *" }]
        }
      },
      "id": "ar-node-01-trigger",
      "name": "Schedule: 08:00 Daily",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [80, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://localhost:8000/api/n8n/topics",
        "options": {}
      },
      "id": "ar-node-01-topics",
      "name": "GET Active Topics",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [300, 300]
    },
    {
      "parameters": {
        "jsCode": "// Extract topics array from HTTP response\nconst items = $input.all();\nconst topics = items.map(i => i.json).filter(t => t.topic);\nif (topics.length === 0) {\n  return [{ json: { topics: [] } }];\n}\nreturn [{ json: { topics: topics.map(t => t.topic) } }];"
      },
      "id": "ar-node-01-extract",
      "name": "Extract Topic List",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [520, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:8000/api/n8n/bulk-fetch",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "Content-Type", "value": "application/json" }]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ topics: $json.topics, max_results: 10, date_filter_days: 1, auto_summarize: true }) }}",
        "options": {}
      },
      "id": "ar-node-01-bulk",
      "name": "Bulk Fetch (All Topics)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [740, 300]
    },
    {
      "parameters": {
        "jsCode": "// Build HTML email body from bulk-fetch results\nconst results = $input.all().map(i => i.json);\nconst date = new Date().toLocaleDateString('en-US', { weekday:'long', year:'numeric', month:'long', day:'numeric' });\n\nlet totalPapers = 0;\nlet sections = '';\n\nfor (const r of results) {\n  if (!r.count || r.count === 0) continue;\n  totalPapers += r.count;\n  const papers = (r.papers || []).slice(0, 5);\n  let rows = '';\n  for (const p of papers) {\n    const authors = Array.isArray(p.authors) ? p.authors.slice(0,2).join(', ') : '';\n    const summary = p.summary ? `<p style=\"color:#c0d4ff;font-size:13px;border-left:3px solid #6C63FF;padding-left:10px;\">${p.summary.substring(0,200)}...</p>` : '';\n    rows += `<div style=\"border-bottom:1px solid #2a2d3e;padding:14px 0;\"><a href=\"${p.url}\" style=\"color:#6C63FF;font-weight:600;\">${p.title}</a><br><small style=\"color:#aaa;\">${authors}</small>${summary}</div>`;\n  }\n  sections += `<div style=\"background:#1A1D27;border-radius:12px;padding:20px;margin-bottom:16px;\"><h3 style=\"color:#6C63FF;margin:0 0 12px;\">Topic: ${r.topic} (${r.count} new)</h3>${rows}</div>`;\n}\n\nif (totalPapers === 0) {\n  return [{ json: { skip: true, total: 0 } }];\n}\n\nconst html = `<html><body style=\"background:#0E1117;color:#FAFAFA;font-family:sans-serif;padding:24px;\"><div style=\"max-width:700px;margin:auto;\"><div style=\"background:linear-gradient(135deg,#6C63FF,#4a42cc);padding:28px;border-radius:16px;margin-bottom:20px;\"><h1 style=\"margin:0;\">🔬 AutoResearch AI</h1><h2 style=\"margin:8px 0 0;opacity:.85;\">Daily Paper Alert</h2><p style=\"opacity:.7;margin:8px 0 0;\">${date}</p></div>${sections}<p style=\"color:#888;font-size:12px;text-align:center;\">Sent by AutoResearch AI · <a href=\"http://localhost:8501\" style=\"color:#6C63FF;\">Open Dashboard</a></p></div></body></html>`;\n\nreturn [{ json: { html, total: totalPapers, skip: false, date } }];"
      },
      "id": "ar-node-01-format",
      "name": "Format Alert HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [960, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [{ "leftValue": "={{ $json.skip }}", "rightValue": true, "operator": { "type": "boolean", "operation": "notEquals" } }],
          "combinator": "and"
        }
      },
      "id": "ar-node-01-if",
      "name": "Has New Papers?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1180, 300]
    },
    {
      "parameters": {
        "fromEmail": "AutoResearch AI <noreply@autoresearch.ai>",
        "toEmail": "={{ $env.SMTP_USER }}",
        "subject": "=📄 AutoResearch Daily Alert — {{ $json.total }} new papers ({{ $json.date }})",
        "emailType": "html",
        "html": "={{ $json.html }}"
      },
      "id": "ar-node-01-email",
      "name": "Send Email Alert",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [1400, 200],
      "credentials": { "smtp": { "id": "smtp-cred", "name": "AutoResearch SMTP" } }
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "=🔬 *AutoResearch AI — Daily Alert*\n\n📄 *{{ $json.total }}* new papers across {{ $json.topics_count || 'multiple' }} topics\n\n🌐 [Open Dashboard](http://localhost:8501)",
        "additionalFields": { "parse_mode": "Markdown" }
      },
      "id": "ar-node-01-telegram",
      "name": "Telegram Notification",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1400, 400],
      "credentials": { "telegramApi": { "id": "tg-cred", "name": "AutoResearch Telegram" } }
    }
  ],
  "connections": {
    "Schedule: 08:00 Daily":   { "main": [[{ "node": "GET Active Topics",      "type": "main", "index": 0 }]] },
    "GET Active Topics":       { "main": [[{ "node": "Extract Topic List",      "type": "main", "index": 0 }]] },
    "Extract Topic List":      { "main": [[{ "node": "Bulk Fetch (All Topics)", "type": "main", "index": 0 }]] },
    "Bulk Fetch (All Topics)": { "main": [[{ "node": "Format Alert HTML",       "type": "main", "index": 0 }]] },
    "Format Alert HTML":       { "main": [[{ "node": "Has New Papers?",         "type": "main", "index": 0 }]] },
    "Has New Papers?": {
      "main": [
        [{ "node": "Send Email Alert",      "type": "main", "index": 0 }],
        []
      ]
    },
    "Send Email Alert": { "main": [[{ "node": "Telegram Notification", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1", "saveManualExecutions": true, "callerPolicy": "workflowsFromSameOwner" },
  "meta": { "templateCredsSetupCompleted": false, "instanceId": "autoresearch-ai" },
  "id": "ar-wf-001",
  "tags": [{ "name": "AutoResearch" }]
}
